.container {
  width: 80%;
  height: auto;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  border-radius: 10px;

  overflow: hidden;

  max-height: 500px;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 60%;
}

.img {
  width: 100%;
  height: auto;
}

.containerText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 20px 30px;

  background: #46973b;
  color: white;

  height: 40%;
}

.title {
  font-size: 1.8rem;
}

.text {
  font-size: 1.2rem;
}
.button {
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
  background: #46973b;
  border: none;

  border-radius: 10px;
}
