.container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  max-height: 500px;
  border-radius: 10px;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: auto;
  padding: 10px;

  gap: 10px;
}

.title {
  font-size: 1.8rem;
  width: 80%;
}

.text {
  width: 80%;
  font-size: 1.2rem;
}

.picture {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  margin: auto 0 0 0;

  border-radius: 10px;
}

.img {
  width: 100%;
  height: auto;
}

.flower {
  max-height: 100px;
}
